# LAB 1

1)Write a Python program(WAPP) to input any two integers, and provide a menu to the
user to select any of the options as add, subtract, multiply, divide and display the result
accordingly.

In [ ]:
x = int(input("Enter First Number: "))
y = int(input("Enter Second Number: "))
c = input("Enter any of these specific operation +,-,*,/: ")

result = 0
if c == '+':
    result = x + y
elif c == '-':
    result = x - y
elif c == '*':
    result = x * y
elif c == '/':
    result = x / y
else:
    print("no such operation is available !")

print(x, c , y, ":", result)

Enter First Number: 10
Enter Second Number: 20
Enter any of these specific operation +,-,*,/: +
10 + 20 : 30

2)WAPP to check if a year is leap year or not.

In [ ]:
year=int(input("Enter year : "))
if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
              printf(year , "is leap year")
else :
  print(year, "not a leap year")

Enter year : 2022
2022 not a leap year

3)WAPP to convert temperature from centigrade to Fahrenheit scale.

In [ ]:
temp = float(input("Enter temp in 0c"))
fahrenheit=0
fahrenheit = (temp * 9 / 5) + 32
print(fahrenheit)

Enter temp in 0c100
212.0

4)WAPP to add two times in hour, minute & second format entered through the
keyboard.

In [ ]:
print("Enter time 1")

hour1=int(input("Enter time in hours :"))
min1=int(input("Enter time in min :"))
sec1=int(input("Enter time in sec"))

print("Enter time 2")

hour2=int(input("Enter time in hours :"))
min2=int(input("Enter time in min :"))
sec2=int(input("Enter time in sec"))

hour3=hour1+hour2+(min1+min2+(sec1+sec2)//60)//60
min3=(min1+min2+(sec1+sec2)//60)%60
sec3=(sec1+sec2)%60

print("Total Time :",hour3," Hours, ",min3," Minutes and ",sec3,"Seconds")

Enter time 1
Enter time in hours :2
Enter time in min :33
Enter time in sec44
Enter time 2
Enter time in hours :2
Enter time in min :9
Enter time in sec88
Total Time : 4  Hours,  44  Minutes and  12 Seconds

5)WAPP to check if the given number is Armstrong or not.

In [ ]:
n = int(input("Enter a number: "))
s = 0
t = n
while t > 0:
  digit = t % 10
  s += digit ** 3
  t //= 10

if n == s:
  print(n,"is an Armstrong number")
else:
  print(n,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

6)WAPP to find out the factors of a number.

In [ ]:
number = int(input("Enter a number: "))

print("The factors are : ")

for i in range(1,number+1):
    if number % i == 0:
        print(i)

Enter a number: 30
The factors are :
1
2
3
5
6
10
15
30

7)WAPP to print all even numbers between 100 to 200 using a loop.

In [ ]:
start, end = 100, 200
  
for num in range(start, end + 1):
  if num % 2 == 0:
    print(num, end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

8)WAPP to find LCM of 2 numbers using a while loop.

In [ ]:
p = int(input("Enter First Number: "))
q = int(input("Enter Second Number: "))

for i in range (1, p + 1):
	if i <= q:
		if p % i == 0 and q % i == 0:
			g = i

x = (p * q) / g
print ("\nThe LCM : ", x)

Enter First Number: 10
Enter Second Number: 20

The LCM :  20.0

9)WAPP to find out the distance between two coordinates (x1, y1) & (x2, y2).

In [ ]:
print("For {x1,y1) :")
x1=int(input("enter x1 : "))
y1=int(input("enter y1 : "))

print("For (x2,y2) :")
x2=int(input("enter x2 : "))
y2=int(input("enter y2 : "))

result= ((((x2-x1)**2) + ((y2-y1)**2))**0.5)

print("distance between",(x1,x2),"and",(y1,y2),"is : ",result)

For {x1,y1) :
enter x1 : 3
enter y1 : 4
For (x2,y2) :
enter x2 : 7
enter y2 : 5
distance between (3, 7) and (4, 5) is :  4.123105625617661

10)WAPP to find the multiplication table of any number using a for loop.

In [ ]:
n = int(input("Enter the number whose muliplication table is needed to be displayed : "))      
   
print ("The Multiplication Table of: ", n)    
for i in range(1, 11):
  print(n, 'x', i , '=', n*i)

Enter the number of which the user wants to print the multiplication table: 2
The Multiplication Table of:  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

11)WAPP to find Volume and Surface Area of Cylinder.

In [ ]:
pi = 3.14
r = float(input("Enter radius : "))
h = float(input('Enter Height : '))

sa = 2 * pi * r * (r + h)
Volume = pi * r * r * h

print("The Surface area of a Cylinder = " ,sa)
print("The Volume of a Cylinder = " ,Volume)

Enter radius : 2
Enter Height : 6
The Surface area of a Cylinder =  100.48
The Volume of a Cylinder =  75.36

12)WAPP to find the roots of a quadratic equation ax2+bx+c=0.

In [ ]:
a = int(input("Enter value of a : "))
b = int(input("Enter value of b : "))
c = int(input("Enter value of c : "))

dis = (b*b)-(4*a*c)

if(dis>0):
  root1 = (-b + math.sqrt(dis) / (2 * a))
  root2 = (-b - math.sqrt(dis) / (2 * a))
  print("Two Distinct Real Roots Exists: root1 = ",root1 ,"and root2 = " ,root2)

elif(dis==0):
  root1 = root2 = -b / (2 * a)
  print("Two Equal and Real Roots Exists: root1 = ",root1 ," and root2 = ", root2)

elif(dis<0):
  root1 = root2 =-b/(2*a)
  imag = math.sqrt(-dis)/(2*a)
  print("Two Distinct Complex Roots Exists: root1 = ",root1 , imag ," and root2 = " , root2, imag)

Enter value of a : 8
Enter value of b : 5
Enter value of c : 9
Two Distinct Complex Roots Exists: root1 =  -0.3125 1.0135796712641785  and root2 =  -0.3125 1.0135796712641785

16) WAPP to convert a quantity in meter entered through keyboard into its equivalent
kilometre and meter as per the following format.

Example. 2430 meter = 2 Km and 430 meter.

In [ ]:
m=int(input("Enter meters value :"))

km=int(m/1000)
meter=m%1000

print(m ,":" ,km,'km', meter ,"meter")

Enter meters value :2430
2430 : 2 km 430 meter

17)WAPP to print the sum of all prime numbers between 1 to n using a loop.

In [ ]:
n = int(input("Enter n : "))
sum = 0

for num in range(2,n+1):
    i=2
    for i in range(2,num):
        if(int(num%i==0)):
            i=num
            break;
       
    if i is not num:
        sum+=num
        
print("Sum of all prime numbers 1 to ",n,":",sum)

Enter n : 100
Sum of all prime numbers 1 to  100 : 1058

18)WAPP to display the reverse of a number entered through the keyboard.

In [ ]:
num = int(input("Enter the number :"))
rev = 0

while num != 0:
    rem = num % 10
    rev = rev * 10 + rem
    num //= 10

print("Reversed Number: " ,rev)

Enter the number :4567
Reversed Number:  7654

19) WAPP to convert a decimal number into its equivalent number with base b.
Decimal number and b are the user input.

In [ ]:
dec = int(input("Enter number : "))


print( " in Binary : ", bin(dec))
  
print( "in Octal : ", oct(dec))

print(" in Hexadecimal : ", hex(dec))

Enter number : 32
 in Binary :  0b100000
in Octal :  0o40
 in Hexadecimal :  0x20

20)WAPP to sum the following series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n).

In [ ]:
n = int(input("Enter value of n: "))
sum=0

for i in range(1, n+1):
  sum = sum+(i*(i+1)/2)

print("sum of series :", sum)

Enter value of n: 10
sum of series : 220.0