# LAB 2

STRINGS :

1) Write a Python Program to count the number of vowels in a string.

In [ ]:
st=input("Enter string:")

v=0
for i in st:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            v=v+1

print("Number of vowels are: ",v)

Enter string:python
Number of vowels are:  1

2)Write a Python Program to replace all occurrences of ‘a’ with ‘@’ in a string.

In [ ]:
st=input("Enter string:")

st=st.replace('a','@')

print("Modified string is : ",st)

Enter string:language
Modified string is :  l@ngu@ge

3) Write a Python Program to calculate the length of a string without using a
library function.

In [ ]:
st=input("Enter string:")
count=0

for i in st:
      count=count+1
      
print("Length of the string is: ",count)

Enter string:abcd
Length of the string is:  4

4) Write a Python Program to take in two strings and display the smallest string
without using the library function.

In [ ]:
s1=input("Enter first string: ")
s2=input("Enter second string: ")

c1=0
c2=0

for i in s1:
      c1=c1+1
for j in s2:
      c2=c2+1

if(c1>c2):
      print("Smallest string is: ",s2)
elif(c1==c2):
      print("Both strings are equal.")
else:
      print("Smallest string is: ",s1)

Enter first string: abcde
Enter second string: mnopqr
Smallest string is:  abcde

5) Write a Python Program to count the number of lowercase and uppercase letters
in a string.

In [ ]:
st=input("Enter string : ")

c1=0
c2=0

for i in st:
      if(i.islower()):
            c1=c1+1
      elif(i.isupper()):
            c2=c2+1
print("The number of lowercase characters is: ",c1)

print("The number of uppercase characters is: ",c2)

Enter string:AbCdefG
The number of lowercase characters is:  4
The number of uppercase characters is:  3

6) Write a Python Program to count the number of digits and characters in a string.

In [ ]:
s = input("Input a string : ")

c1=c2=0
for i in s:
    if i.isdigit():
        c1=c1+1
    elif i.isalpha():
        c2=c2+1
    else:
        pass

print("Letters ", c2)
print("Digits ", c1)

Input a string : lab123
Letters  3
Digits  3

7) Write a Python program to get a string made of the first 3 and the last 3 chars
from a given string. If the string length is less than 3, return instead of the
empty string.

In [ ]:
def ft(str):
	return str[:3]+str[-3: ] if len(str) > 3 else str

print(ft('lab'))
print(ft('language'))
print(ft('p'))

lab
lanage
p

8) Write a Python program to count the occurrences of each word in a given string
sentence.

In [ ]:
s=input("Enter string: ")
w=input("Enter word: ")

a=[]
count=0

a=s.split(" ")

for i in range(0,len(a)):
      if(w==a[i]):
            count=count+1

print("Count of the word is: ",count)

Enter string: my name is manaswini sahoo
Enter word: name
Count of the word is:  1

9) Write a Python program to check if a string is Palindrome or not.

In [ ]:
s=input("Enter a string: ")

if(s==s[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string: malayalam
The string is a palindrome

10)Write a Python program to reverse a string.

In [ ]:
  
s = input("Enter a string : ")
rev = ""  
count = len(s)  
while count > 0:   
    rev += s[ count - 1 ]   
    count = count - 1

print ("The reversed string is : ",rev)

Enter a string : name
The reversed string is :  eman

**LIST**

1) Write a Python Program to find the print sum, average of all numbers,
smallest and largest element of a list.

In [ ]:
l1 = list()

n = int(input ("Enter the number of elements: "))
for i in range(n):
    el = int (input ("Enter the element: "))
    l1.append(el)

l = max(l1)
s = min(l1)
av = sum(l1) / len(l1)

print ("Largest of elements of ", l1, "is: ", s )
print ("Smallest of elements of ", l1, "is: ", l )
print ("Average of list", l1, "is: ", av )

Enter the number of elements:5
Enter the element: 88
Enter the element: 9
Enter the element: 4
Enter the element: 3
Enter the element: 1
Largest of elements of  [88, 9, 4, 3, 1] is:  1
Smallest of elements of  [88, 9, 4, 3, 1] is:  88
Average of list [88, 9, 4, 3, 1] is:  21.0

2) Write a Python Program to find the 2
nd
largest and 3
rd
smallest number in a
list.

In [ ]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Second largest element is:", list1[-2])
print("3rd smallest element is:", list1[3])

Second largest element is: 45
3rd smallest element is: 45

3) Write a Python Program to generate random numbers from 1 to 50 and
append them to the list.

In [ ]:
import random

randomlist = random.sample(range(1, 50), 10)

print(randomlist)

[38, 9, 39, 23, 30, 24, 42, 41, 48, 22]

4) Write a Python Program to put even and odd elements in a list into two
different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements: "))

for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)7
        
print("The even list",even)
print("The odd list",odd)

Enter number of elements: 6
Enter element:44
Enter element:7
Enter element:88
Enter element:9
Enter element:33
Enter element:8
The even list [44, 88, 8]
The odd list [7, 9, 33]

5) Write a Python Program to merge two lists and sort it.

In [ ]:
a=[]
c=[]

n1=int(input("Enter number of elements: "))

for i in range(1,n1+1):
    b=int(input("Enter element: "))
    a.append(b)

n2=int(input("Enter number of elements: "))
1
for i in range(1,n2+1):
    d=int(input("Enter element: "))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements: 4
Enter element: 4
Enter element: 3
Enter element: 2
Enter element: 1
Enter number of elements: 3
Enter element: 6
Enter element: 7
Enter element: 8
Sorted list is: [1, 2, 3, 4, 6, 7, 8]

6) Write a Python Program to remove the duplicate items from a list.

In [ ]:
my_list = [1, 3, 3, 1, 2, 4, 5, 9 ,6, 2]

print("List Before : ", my_list)
temp_list = []

for i in my_list:
    if i not in temp_list:
        temp_list.append(i)

my_list = temp_list

print("After removing duplicates : ", my_list)

List Before :  [1, 3, 3, 1, 2, 4, 5, 9, 6, 2]
After removing duplicates :  [1, 3, 2, 4, 5, 9, 6]

7) Write a Python Program to take a list of words and print the length of the
longest word.

In [ ]:
def longestLength(a):
    max1 = len(a[0])
    temp = a[0]
 
    for i in a:
        if(len(i) > max1):
 
            max1 = len(i)
            temp = i
 
    print("The word with the longest length is:", temp," and length is ", max1)
 
a = ["one", "two", "third", "four"]

longestLength(a)

The word with the longest length is: third  and length is  5

8) Write a Python program to count the number of strings where the string length
is 3 or more and the first and last character are same from a given list of
strings.

Input : ['ab', 'aba', 'abaa', 'baba']

Output : 2

In [ ]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['ab', 'aba', 'abaa', 'baba']))

2

9) Write a Python program to check a list is empty or not.

In [ ]:
l = []
if not l:
  print("List is empty")

List is empty

10) Write a Python program to take both strings and numbers in a list

a)create separate lists of strings and numbers.

b)Sort the strings list in ascending order

c)Sort the strings list in descending order

d)Sort the number list from lowest to highest

e)Sort the number list from highest to lowest

In [ ]:
myList = [ 4,'a', 'b', 'c', 1, 'd', 3]

myIntList = [x for x in myList if isinstance(x, int)]
print("numbers : ",myIntList)

myStrList = [x for x in myList if isinstance(x, str)]
print("string :",myStrList)

org_str = 'cefbad'
new_str_list = sorted(org_str)
print("sorted string in ascending order :",new_str_list)

numbers :  [4, 1, 3]
string : ['a', 'b', 'c', 'd']
sorted string in ascending order : ['a', 'b', 'c', 'd', 'e', 'f']
ssrokkggfeeee

11) Write a program to add two lists index-wise. Create a new list that
contains the 0th index item from both the list, then the 1st index item, and so
on till the last element. any leftover items will get added at the end of the
new list.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

sum_list = [a + b for a, b in zip(list1, list2)]

print(sum_list)

[5, 7, 9]

12)Given a Python list, write a program to remove all occurrences of item 20.

In [ ]:
mylist = [5, 20, 15, 20, 25, 50, 20]
r_item = 20

for item in mylist:
	if(item==r_item):
		mylist.remove(r_item)

print(mylist)

[5, 15, 25, 50]

**TUPLE**

1. Write a Python program to convert a tuple to a string.

In [ ]:
strTuple = ('p', 'y', 't', 'h', 'o', 'n')
print("Tuple Items = ", strTuple)

stringVal = ''.join(strTuple)
print("String from Tuple = ", stringVal)

Tuple Items =  ('p', 'y', 't', 'h', 'o', 'n')
String from Tuple =  python

2. Write a Python program to find the repeated items of a tuple

In [ ]:
tuple = 2, 4, 5, 6, 2, 3, 4, 4, 7 ,4

count = tuple.count(4)
print("REPEATED ITEM OF TUPLE : ",count)

REPEATED ITEM OF TUPLE :  4

3. Write a Python program to convert a list to a tuple..

In [ ]:
def convert(list):
    return (*list, )
  
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

4. Write a Python program to reverse a tuple.

In [ ]:
t = (1, 2, 'Python', 'Java', 77, 10)  

print("The original tuple is: ", t)  

t = t[::-1]  
 
print("The reversed tuple is: ", t)

The original tuple is:  (1, 2, 'Python', 'Java', 77, 10)
The reversed tuple is:  (10, 77, 'Java', 'Python', 2, 1)

5. Write a Python program to remove an empty tuple(s) from a list of tuples

In [ ]:
def rem(li):
    li=[ num for num in li if num]
    return li

li=[ (), ( '1', '2'), (), ('3', '4', '5', '6') ]
print(rem(li))

[('1', '2'), ('3', '4', '5', '6')]

6. Write a Python program to replace last value of tuples in a list.

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

7. Write a Python program to get the 5th element and 5th element from last of a
tuple.

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10,11)

print("Fifth element from first: ",a[4])

print("Fifth element from last: ",a[-5])

Fifth element from first:  5
Fifth element from last:  7

8. Write a Python program to check if two given sets have no elements in common.

In [ ]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare x and y:")
print(x.isdisjoint(y))
print("\nCompare x and z:")
print(z.isdisjoint(x))
print("\nCompare y and z:")
print(y.isdisjoint(z))

Original set elements:
{1, 2, 3, 4}
{4, 5, 6, 7}
{8}

Confirm two given sets have no element(s) in common:

Compare x and y:
False

Compare x and z:
True

Compare y and z:
True

9. Write a Python program to check whether an element exists within a tuple.

In [ ]:
tuplex = ("p", "y", "t", "h", "o", "n")
print("o" in tuplex)
print("z" in tuplex)

True
False

10. Write a Python program to check if a given value is present in a set or not.

In [ ]:
nums = {1, 3, 5, 7, 99, 20}
print("Original sets(nums): ",nums,"\n")

print("Test if 6 exists in nums:")
print(6 in nums)

print("Test if 7 exists in nums:")
print(7 in nums)

print("Test if 11 exists in nums:")
print(11 in nums)

Original sets(nums):  {1, 99, 3, 5, 7, 20}

Test if 6 exists in nums:
False
Test if 7 exists in nums:
True
Test if 11 exists in nums:
False

11. Write a Python program to check if a given set is superset of itself and superset of another given set.

In [ ]:
nums = {10,20,30,40,50}
print("Original set: ",nums)
print("If nums is superset of itself?")
print(nums.issuperset(nums))
num1 = {1, 2, 3, 4, 5, 7}
num2 = {2, 4}
num3 = {2, 4}
print("\nnum1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)

print("If mum1 is superset of num2:")
print(num1>num2)

print("Compare mum2 and num3:")
print("If mum2 is superset of num3:")
print(num2>num3)

print("If mum3 is superset of num2:")
print(num3>num2)

Original set:  {40, 10, 50, 20, 30}
If nums is superset of itself?
True

num1 =  {1, 2, 3, 4, 5, 7}
num2 =  {2, 4}
num3 =  {2, 4}
If mum1 is superset of num2:
True
Compare mum2 and num3:
If mum2 is superset of num3:
False
If mum3 is superset of num2:
False

12. Write a Python program to create a union, intersection, difference, symmetric
difference of sets.

In [ ]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
# union
print("Union :", A | B)
  
# intersection
print("Intersection :", A & B)
  
# difference
print("Difference :", A - B)
  
# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

13. Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [ ]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("\nRemove the intersection of a 2nd set from the 1st set using difference_update():")
sn1.difference_update(sn2)
print("sn1: ",sn1)
print("sn2: ",sn2)
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("\nRemove the intersection of a 2nd set from the 1st set using -= operator:")
sn1-=sn2
print("sn1: ",sn1)
print("sn2: ",sn2)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using difference_update():
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using -= operator:
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

**DICTIONARY**

1) Write a Python program to multiply all the items in a dictionary.

In [ ]:
d={'A':2,'B':100,'C':24}
t=1
for i in d:    
    t=t*d[i]

print(t)

4800

2) Write a Python program to remove duplicates from Dictionary.

In [ ]:
dict1 = {'A': 30, 'B': 30, 'C': 20, 'D': 10, 'E': 54}

temp = []
res = dict()

for key, val in dict1.items():
    if val not in temp:
        temp.append(val)
        res[key] = val

print(res)

{'A': 30, 'C': 20, 'D': 10, 'E': 54}

3) Write a Python program to combine two dictionary adding values for common
keys.

dict1 = {'k1': 10, 'k2': 20, 'k3':30}

dict2 = {'k1': 30, 'k2': 20, 'k4':40}

Sample output: Counter({'k1': 40, 'k2': 40, 'k4': 40})

In [ ]:
dict1 = {'k1': 10, 'k2': 20, 'k3':30}
dict2 = {'k1': 30, 'k2': 20, 'k4':40}

for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass
          
print(dict2)

{'k1': 40, 'k2': 40, 'k4': 40}

4) Write a Python program to find the highest 3 values of corresponding keys in
a dictionary.

In [ ]:
from heapq import nlargest

my_dict = {'a':340, 'b':50, 'c': 560,'d':40, 'e':560, 'f': 20} 

l = nlargest(3, my_dict, key=my_dict.get)
print(l)

['c', 'e', 'a']

5) Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

Sample string : 'amazon'

Expected output: {'a': 2, 'm': 1, 'z': t, 'o': 2, 'n': 1}

In [ ]:
from collections import defaultdict, Counter

s = 'amazon' 
my_dict = {}

for letter in s:
    my_dict[letter] = my_dict.get(letter, 0) + 1

print(my_dict)

{'a': 2, 'm': 1, 'z': 1, 'o': 1, 'n': 1}

6) Write a Python program to print a dictionary line by line.

In [ ]:
s = {'Aisha':{'class':'10','roll_no':1},'Ripsa':{'class':'8','roll_no':5}}
for a in s:
    print(a)
    for b in s[a]:
        print (b,':',s[a][b])

Aisha
class : 10
roll_no : 1
Ripsa
class : 8
roll_no : 5

7) Write a Python program to replace dictionary values with their average.

In [ ]:
def av(list_of_dicts):
    for d in list_of_dicts:
        n1 = d.pop('V')
        n2 = d.pop('VI')
        d['V+VI'] = (n1 + n2)/2
    return list_of_dicts 

stud= [{'id' : 1, 'subject' : 'math', 'V' : 70, 'VI' : 82},{'id' : 2, 'subject' : 'math', 'V' : 73, 'VI' : 74},{'id' : 3, 'subject' : 'math', 'V' : 75, 'VI' : 86}]
print(av(stud))

[{'id': 1, 'subject': 'math', 'V+VI': 76.0}, {'id': 2, 'subject': 'math', 'V+VI': 73.5}, {'id': 3, 'subject': 'math', 'V+VI': 80.5}]

8) Write a Python program to drop empty Items from a given Dictionary.
Original Dictionary:

In [ ]:
dict1 = {'c1': 'CS', 'c2': 'IT', 'c3': None}
print("Original Dictionary :")
print(dict1)

print("New Dictionary after dropping empty items :")

dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

Original Dictionary :
{'c1': 'CS', 'c2': 'IT', 'c3': None}
New Dictionary after dropping empty items :
{'c1': 'CS', 'c2': 'IT'}

9) Write a Python program to filter the height and width of students, which are
stored in a dictionary.

In [ ]:
def filter_data(s):
    result = dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), s.items()))
    return result 

s = {'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)}

print("Original Dictionary:")
print(s)

print("\nHeight> 6ft and Weight> 65kg:")
print(filter_data(s))

Original Dictionary:
{'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)}

Height> 6ft and Weight> 65kg:
{'Ram': (6.2, 70)}